aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
attrs==24.2.0
black==24.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
frozenlist==1.4.1
idna==3.10
multidict==6.1.0
mypy-extensions==1.0.0
numpy==2.1.1
orjson==3.10.7
packaging==24.1
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
psycopg2==2.9.9
py-cord @ git+https://github.com/Pycord-Development/pycord@bef59ac6592dbe666e0bd4ef337d05bc89b86416
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
tzdata==2024.1
urllib3==2.2.3
yarl==1.11.1
